body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h4,
h3,
p,
li,
a,
p,
span,
ul {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

.main-content {
  background-color: white;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.about-user {
  margin-bottom: 5px;
}
.about-position {
  font-weight: 700;
  line-height: 17px;
  color: #131313;
  margin-bottom: 10px;
}
.about-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #131313;
  margin-bottom: 10px;
}
.about-discr {
  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
  color: #131313;
}

.projects {
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #131313;
  margin-bottom: 10px;
}

.Projects-list {
  padding: 0;
  margin-left: 15px;
}

.Projects-item {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #131313;
}
.Project,
.Project-link {
  font-weight: 400;
  line-height: 20px;
  color: #595959;
}

.Project-link {
  margin-left: 10px;
}
.Project-bracket {
  font-weight: 700;
  line-height: 24px;
  color: #131313;
}

.workstyle {
  margin-bottom: 15px;
}

.work-position {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #131313;
}
.Company {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #131313;
}
.period {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #131313;
  margin-bottom: 5px;
}

.work-list {
  margin-bottom: 5px;
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #131313;
}

.education-list {
  padding: 0;
  margin-left: 15px;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
   color: #131313; 
  margin-bottom: 5px;
}
.education-status {
  font-size: 14px;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
}
.education-list-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #131313;
  margin-top: 10px;
}

/* sidebar */
.sidebar {
  background-color: #1e2939;
  width: auto;
}
.PHOTO {
  width: 230px;
  height: 340px;
  /* margin-bottom: 50px; */
}
.sidebar-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts {
  margin-bottom: 10px;
}

.main-contacts {
  padding: 20px;
  padding-top: 20px ;
}

/* .Tech-skills{
    margin-left: 40px;
} */
.Soft-Skills {
  /* margin-left: 40px; */
  margin-top: 20px;
}

.contact-links-tel {
  text-decoration: none;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-right: 5px;
}

.contact-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.contact-link {
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}
.contact-link-git {
  color: #131313;
}

.tech-skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}
.Soft-Skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.Soft-Skills-item {
  color: #494544;
}
.Soft-Skills-text {
  color: #ffffff;
  font-weight: 400;

  line-height: 24px;
  margin-top: 5px;
}
.tech-skills-item {
  color: #494544;
}
.Tech-skills-text {
  color: #ffffff;
  font-weight: 400;

  line-height: 24px;
}

.contact-links {
  text-decoration: none;
  list-style: none;
}

.summary {
  margin-bottom: 6px;
}
